<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    
    <form action="/piglatinizer" method="POST">
      <label>Your Word</label>
      <input type="text" name="word" id="word" /> 
      <br>
      
      <input type="submit" id="submit" name="submit" / >
      
    </form>
  
  </body>
</html>